$pipboy-bg: #08120b;
$pipboy-fg: #06d43d;
// $pipboy-fg-active: rgba($pipboy-fg, 0.2);
$pipboy-fg-active: #073914;
$pipboy-glow: #3bee6b;
$main-bg: #000;
$terminal-fg: #64ff8d;
// $terminal-fg-active: #b5ffc9;
$terminal-glow: #37ff6c;
$terminal-bg: #11291e;
