.terminal-container
{
    @extend .pipboy-container;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $main-bg;
    overflow: hidden;
    font-family: 'Share Tech Mono', monospace;

    .terminal-screen
    {
        @extend .pipboy;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $terminal-bg;

        &::before
        {
            box-shadow: inset 0px 0px 80px 40px #000;
        }
        // max-width: unset;
        // max-height: unset;
        // width: 95%;
        // height: 85%;
        // position: relative;
        // z-index: 1;
        // border-top-left-radius: 50% 20px;
        // border-top-right-radius: 50% 20px;
        // border-bottom-left-radius: 50% 20px;
        // border-bottom-right-radius: 50% 20px;
        // background-color: $pipboy-bg;
    }
}